HBSS/*.o
HBSS/output/
HBSS/params/
HBSS/__pycache__/
HBSS/.idea/
HBSS/.vscode/
HBSS/benchmark

HBSS*/*.o
HBSS*/output/
HBSS*/params/
HBSS*/__pycache__/
HBSS*/.idea/
HBSS*/.vscode/
HBSS*/benchmark

HBSS**/*.o
HBSS**/output/
HBSS**/params/
HBSS**/__pycache__/
HBSS**/.idea/
HBSS**/.vscode/
HBSS**/benchmark